html { margin: 0; height: 100% }
body { background: #ECEFF1; color: rgba(0,0,0,0.87); font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; height:100%}


#map { background: #ffffff; width: 90%; height: 450px; margin-left: 5%; margin-bottom: 25px }