html { margin: 0; height: 100% }
body { background: #ECEFF1; color: rgba(0,0,0,0.87); font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; height:100%}
#appView { height: 100%; width: 100%; overflow: auto }

@keyframes ldsEllipsis3 {
  0%, 25% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    left: 100px;
  }
  100% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes ldsEllipsis3 {
  0%, 25% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    left: 100px;
  }
  100% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes ldsEllipsis2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes ldsEllipsis2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes ldsEllipsis {
  0% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    left: 100px;
  }
  75% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    left: 168px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes ldsEllipsis {
  0% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    left: 100px;
  }
  75% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    left: 168px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
.ldsEllipsis {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
}
.ldsEllipsis > div {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}
.ldsEllipsis div > div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f00;
  position: absolute;
  top: 100px;
  left: 32px;
  -webkit-animation: ldsEllipsis 1.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  animation: ldsEllipsis 1.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
}
.ldsEllipsis div:nth-child(1) div {
  -webkit-animation: ldsEllipsis2 1.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  animation: ldsEllipsis2 1.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  background: #1875e5;
}
.ldsEllipsis div:nth-child(2) div {
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
  background: #499255;
}
.ldsEllipsis div:nth-child(3) div {
  -webkit-animation-delay: -0.375s;
  animation-delay: -0.375s;
  background: #f2b736;
}
.ldsEllipsis div:nth-child(4) div {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  background: #c5523f;
}
.ldsEllipsis div:nth-child(5) div {
  -webkit-animation: ldsEllipsis3 1.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  animation: ldsEllipsis3 1.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  background: #1875e5;
}
.ldsEllipsis {
  width: 100px !important;
  height: 100px !important;
  -webkit-transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
  transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
}