.titleRow {
  margin: auto 0 auto 0;
  padding: 4px 8px;
  flex-grow: 1;
}

.inputRow {
  padding-bottom: 24px;
}

.align {
  margin: auto 0 auto 0;
}

.directionIcon {
  width: 0.7em;
  height: 0.7em;
  margin: auto 25px;
}

.switchIcon {
  margin: auto 25px;
  width: 1.2em;
  height: 1.2em;
}

.textField {
  padding: 5px 0px;
  flex-grow: 1;
}

.box {
  background-color: #4285f4;
  width: 100%;
  color: white;
}